:root {
  --padding: 1rem;
  --primary: #046633;
  --light: #b0cbab;
  --yellow: #e9eea2;
  --purple: #8a777a;
  --beige: #c3c1ba;
  --beige-green: #abc1b0;
  --greenyellow: #cad23f;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  background: #efede3;
  box-sizing: border-box;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
  gap: 2rem;
  font-family: "Alegreya", serif;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Varela Round", sans-serif;
}

header {
  grid-row: 1;
  grid-column: 1 / -1;
  /* width: 100%; */
  /* display: flex;
  justify-content: end; */
}

main {
  grid-row: 2;
  grid-column: 1 / -1;
  /* margin: 0 auto; */
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}

main img {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  max-width: 70rem;
  margin: 0 auto;
}

.card {
  display: block;
  background-color: var(--light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  max-width: 40rem;
  margin: 20px;
  border: 2px solid #000; /* Add black border */
}

.card-content {
  padding: 20px;
  border: 20px;
  margin: 0 auto;
}

.card-content p {
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  color: #000;
  font-family: "Varela Round", sans-serif;
}

footer {
  grid-row: 3;
  grid-column: 1 / -1;
  width: 100%;
  background-color: #fff;
}

footer img {
  max-height: 100px;
  max-width: 30rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}

.h1 {
  font-size: 1.8em;
  font-stretch: 190%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: -5px 10px 15px var(--light);
  font-stretch: 150%;
}

.h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  font-family: "oswald";
}
